/*
* Colors
*/
$color-primary: #242424;
$color-secondary: #ffffff;
$color-black: #000000;
$color-blue: #1C4FA0;
$color-yellow: #FCD52C;
$color-green: #7ED257;
$color-red: #DD4947;

/**
* Fonts
*/
$font-GSKPrecision: "GSKPrecision", Arial, Helvetica, sans-serif;
$font-Museo: "MuseoSansCondensed", Arial, Helvetica, sans-serif;
